body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

.text {
    font-weight: 700;
    width: 100%;
}

.container {
    display: grid;
    gap: 20px;
    justify-content: space-evenly;
    padding: 60px clamp(20px, 2vw, 80px);
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.card{
    position: relative;
    cursor: pointer;
}

.thumbnail{
    width: 100%;
    display: block;
}

.image-container{
    position: relative;

}

.play-button{
    width: 50px;
}

.overlay {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    border-radius: 10px;
}


