body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

.text {
    font-weight: 700;
    width: 90%;
}

.container {
    display: grid;
    gap: 10px;
    justify-content: space-evenly;
    padding: 75px 20px 0px;
    /* padding-top: 65px; */
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.card{
    position: relative;
}

.thubmnail{
    width: 100%;
    display: block;
}

.image-container{
    position: relative;

}

.play-button{
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    width: 50px;
    z-index: 2;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    border-radius: 10px;
    height: 99%;
}


